*{
    padding: 0;
    margin: 0;
}
.productsBox{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}
.productsBox div{
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    width: 250px;
    padding: 10px;
}
.productsBox div div{
    width: 100%;
}
.paginationBox{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    margin-top: 30px;
}
