.container{
    padding: 20px;
}
.album_box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.card{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 10px;
}
.card:hover{
    background-color: rgb(225, 225, 225);
}
.album_box span{
    font-weight: 500;
}
@media (max-width: 600px){
    .album_box{
        grid-template-columns: repeat(1, 1fr);
    }
}